*{
    margin: 0;
    font-weight: bolder;
}

.top{
    background-color: black;
    color: white;
    padding-bottom: -20em;
}

h1{
    color: white;
    font-size: 8em;
    position: relative;
    top: -1em;
    right: -2.5em;
}


.middle{
    position: relative;
    top: -7em;
    margin: auto;
    text-align: center;
}

article{
    font-size: 4em;
}

.form-element{
    font-size: 2em;
    padding: 1em;
}

.radbottommenu{
    font-size: 3em;
    border: solid;
    border-color: black;
    display: inline-block;
}


.bottom{
    background-color: black;
    font-size: 4em;
    color: white;
    padding: 1em;
    text-align: center;

}

#firstname{
    display: inline-block;
    position: relative;
    left: -5em;
}

#lastname{
    display: inline-block;
    position: relative;
    left: 9em;
    top: -0.1em;
}


#commentbox{
    font-size: 1em;
}


#submit{
    text-align: right;
}

select{
    font-size: 0.7em;
}
